.header{
    background: #343134;
    height: 70px;
    display: flex;
    align-items: center;
    transition: 3s;

}
.header:hover a{
    color:black;
}
.header:hover{
    background:white;
}
.headerItem{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;

}
.headerItemUl a{
    color: white;
}
.headerItemA{
    padding: 25px 20px;
    height: 70px;
    font-weight: 500;
    box-sizing: border-box;
}
.Feedback a{
    color: white;
}

